                            /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
                            
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
        background-color: #FBE8A6;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    * {
        box-sizing: border-box;
    }
    
    html {
        font-size: 62.5%;
    }
    
    html,
    body {
        font-family: 'Roboto', sans-serif;
        color: #5E6164;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: 'Roboto', sans-serif;
        color: #303c6c;
    }
    
    h2 {
        font-size: 3.2rem;
    }
    
    h3 {
        font-size: 2.8rem;
    }
    
    p {
        font-size: 2rem;
        line-height: 1.2;
    }
    
    .container {
        width: 800px;
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }
    
    h1 {
        width: 800px;
        font-size: 50px;
        text-align: center;
        margin-top: 50px;
        text-shadow: 0px 1px;
    }
    
    footer {
        width: 800px;
        color: #303c6c;
        background: #f4976c;
        padding: 20px 0;
        border: 1px double #d2fdff;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .person {
        padding-bottom: 10rem;
        width: 800px;
        display: inline-block;
        align-items: center;
    }
    
    .img-container {
        display: flex;
        justify-content: center;
    }
    
    .person img {
        max-width: 400px;
        max-height: 400px;
        width: 800px;
        border-radius: 2rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .person h2 {
        width: 800px;
        padding: 15px;
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }
    
    .person p {
        padding: 5px;
        width: 800px;
    }
    
    .lambda {
        margin-top: 10px;
        border-top: 10px solid #f4976c;
        padding: 50px 60px;
        display: flex;
        justify-content: center;
    }
    
    .lambda .lambda-text {
        width: 50%;
    }
    
    .lambda .lambda-text h3 {
        margin-bottom: 10px;
    }
    
    .lambda .lambda-text p {
        margin-bottom: 26px;
    }
    
    .lambda .btn {
        background-color: #303C6C;
        border-radius: 10px;
        width: 150px;
        height: 45px;
        color: white;
        font-size: 1.6rem;
        cursor: pointer;
    }
    
    .lambda .btn:hover {
        opacity: 0.5;
    }
    
    .btn a {
        color: black;
        text-decoration: none;
    }
    
    .lambda .lambda-img {
        width: 46%;
        margin-left: 4%;
    }
    
    .lambda .lambda-img img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    
    section.us {
        margin-top: 80px;
        text-align: center;
    }
    
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        border: none;
        outline: none;
        background-color: #303C6C;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 10px;
        font-size: 18px;
    }
    
    #myBtn:hover {
        background-color: #555;
    }
    /* ------------------------------------------------------------------Media 500px View------------------------------------------------------------------------------------------ */
    @media (max-width: 500px) {
        .container {
            max-width: 500px;
        }
    }

    @media (max-width: 500px) {
        .logo {
            padding-bottom: 5px;
        }
    }
    
    @media (max-width: 500px) {
        .nav1 {
            display: flex;
            align-items: center;
            font-size: 2rem;
        }
    }
    
    @media (max-width: 500px) {
        .nav-container {
            display: flex;
            align-items: center;
            font-size: 2rem;
            border-bottom: none;
            max-width: 500px;
            padding-left: 30px;
        }
    }
    
    @media (max-width: 500px) {
        .anchors {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            padding: 10px 100px;
            border-bottom: 1px solid #303c6c;
            text-align: center;
            margin-right: 50px;
        }
    }

    @media (max-width: 500px) {
        .person {
            max-width: 500px;
        }
    }
    
    @media (max-width: 500px) {
        .person h2 {
            width: 400px;
            margin-left: 50px;
        }
    }
    
    @media (max-width: 500px) {
        .person p {
            max-width: 400px;
            margin-left: 50px;
        }
    }
    
    @media (max-width: 500px) {
        .lambda {
            display: flex;
            flex-direction: column-reverse;
            padding: 0rem;
            max-width: 400px;
            margin-left: 40px;
        }
    }
    
    @media (max-width: 500px) {
        .lambda .lambda-text {
            width: 400px;
            text-align: center;
        }
    }
    
    @media (max-width: 500px) {
        .lambda .lambda-text h3 {
            margin-top: 2rem;
        }
    }
    
    @media (max-width: 500px) {
        .lambda .btn {
            width: 400px;
            text-align: center;
            height: 6rem;
            padding-top: 2.1rem;
            font-size: 1.8rem;
            margin-bottom: 1.8rem;
        }
    }
    
    @media (max-width: 500px) {
        .lambda .lambda-img {
            width: 300px;
            margin-left: 80px;

        }
    }
    
    @media (max-width: 500px) {
        footer {
            max-width: 100%;
        }
    }