/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* -----------------------------------------------------------------------End of Global Reset----------------------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: 'Roboto', sans-serif;
  background-color: #FBE8A6;
}

h1, h2, h3, h4, h5 {
  font-family: 'Indie Flower', cursive;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}

h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}

p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
  font-size: 2rem;
}

.lambda {
  max-width: 150px;
  align-content: center;
  padding-bottom: 20px;
}

.nav-container {
  margin: 20px;
}

.nav1 {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: center;
}

.anchors {
  text-decoration: none;
  color: black;
  margin-left: 50px;
}

.anchors:hover {
  opacity: 0.8;
  color: blue;
}

.top-section{
  display: flex;
}

.welcome {
  padding-top: 20px;
  padding-bottom: 20px;
}

.topimg {
  max-height: 200px;
}

.joinimg {
  max-height: 200px;
}

.midsection {
  display: flex;
  padding-top: 20px;
  border-top: 1px solid black;
  padding-bottom: 20px;
  justify-content: space-between;
}

.mid {
  max-width: 450px;
}

.btn {
  background-color: #303C6C;
  border-radius: 10px;
  width: 150px;
  height: 45px;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.5;
}

.lastimg {
  max-height: 200px;
}
.bottomsection {
  display: flex;
  padding-top: 20px;
  border-top: 1px solid black;
  justify-content: space-between;
}

.bottomcontent {
  max-width: 400px;
}
.footer {
  padding-top: 25px;
}

/* -------------------------------------------------------------------------------Mobile View 500px----------------------------------------------------------------------------------- */

@media (max-width: 500px) {
  .container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .lambda {
    padding-bottom: 5px;
  }
}

@media (max-width: 500px) {
  .nav1 {
    display: flex;
    align-items: center;
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .anchors {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px 100px;
    border-bottom: 1px solid black;
  }
}

@media (max-width: 500px) {
  .top-section {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .welcome {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .h2class {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .topimg {
    display: none;
  }
}

@media (max-width: 500px) {
  .joinimg {
    max-height: 250px;
  }
}

@media (max-width: 500px) {
  .midsection {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}

@media (max-width: 500px) {
  .mid {
    display: flex;
    align-content: center;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .buttons {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .bottomsection {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
  }
}