.logo {
    max-width: 200px;
    padding-bottom: 20px;
    margin-left: 28px;
}

.nav-container {
    width: 800px;
    max-width: 800px;
    margin-bottom: 20px;
    padding-bottom: 12px;
    border-bottom: 12px solid #303c6c;
}

@media (max-width: 500px) {
    .nav-container {
        display: flex;
        align-items: center;
        font-size: 2rem;
        border-bottom: none;
        max-width: 400px;
        padding-right: 50px;
        margin-left: 100px;
    }
}

.nav1 {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    align-items: center;
}

.anchors {
    text-decoration: none;
    color: black;
    padding-left: 50px;
}

.anchors:hover {
    opacity: 0.8;
    color: blue;
}

@media (max-width: 500px) {
    .logo {
        padding-bottom: 5px;
        margin-right: 75px;
    }
}

@media (max-width: 500px) {
    .nav1 {
        display: flex;
        align-items: center;
        font-size: 2rem;
    }
}

@media (max-width: 500px) {
    .anchors {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding: 10px 100px;
        border-bottom: 1px solid black;
    }
}